/* Estilos del encabezado */
.header {
  background-color: #f7f7f7;
  color: #333333;
  font-family: 'Ubuntu', sans-serif;
  padding: 10px 20px;
  position: relative;
  z-index: 100;
}

.header-content {
  display: flex;
  align-items: center;
}

.hamburger-menu {
  font-size: 2em;
  background: none;
  border: none;
  cursor: pointer;
}

.logo-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-left: 15px;
}

.LogoHeader {
  width: auto;
  height: 60px;
}

/* Estilos de la barra lateral */
.nav {
  position: fixed;
  top: 0;
  left: -250px;
  height: 100%;
  width: 250px;
  background-color: #f7f7f7;
  transition: left 0.3s ease;
  overflow-y: auto;
  z-index: 999;
}

.nav.open {
  left: 0;
}

.close-menu {
  font-size: 1.5em;
  background: none;
  border: none;
  color: #000;
  position: absolute;
  top: 10px;
  left: 10px; /* Cambiado de 'right' a 'left' para posicionarlo en la esquina superior izquierda */
  cursor: pointer;
}

.nav-list {
  list-style-type: none;
  padding: 100px 20px 20px 20px; /* Añadido un padding-top para separar del botón de cerrar */
  margin: 0;
}

.nav-item {
  margin-bottom: 15px;
}

.nav-link {
  background-color: transparent;
  border: none;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.2em;
  color: #000;
  padding: 10px 0;
  cursor: pointer;
  transition: color 0.3s ease;
  width: 100%;
  text-align: left;
}

.nav-link:hover {
  color: #00d9ff;
}

.reset-button {
  font-weight: bold;
  color: #f44336;
}

.reset-button:hover {
  color: #d32f2f;
}

/* Estilos Responsivos */
@media (max-width: 768px) {
  .LogoHeader {
    height: 50px;
  }

  .nav {
    width: 200px;
    left: -200px;
  }

  .nav.open {
    left: 0;
  }

  .hamburger-menu {
    font-size: 1.8em;
  }
}
