@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

.header {
  background-color: #f7f7f7;
  color: #333333;
  font-family: 'Ubuntu', sans-serif;
  padding: 10px 20px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.LogoHeader {
  width: auto;
  height: 60px;
}


.nav-list {
  list-style-type: none; /* Elimina los puntos de lista */
  display: flex; /* Alinea los ítems de la lista horizontalmente */
  justify-content: flex-end; /* Alinea los ítems a la derecha */
  padding: 0;
  margin: 0;
}

.nav-item {
  margin-left: 15px; /* Espacio entre los botones */
}

.nav-link {
  background-color: #f7f7f7; /* Color de fondo de los botones */
  border: 0px solid #ccc; /* Borde de los botones */
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.2em;
  color: #000000; /* Color del texto */
  padding: 5px 10px; /* Espacio interno de los botones */
  text-decoration: none; /* Elimina la subrayado de los enlaces */
  cursor: pointer; /* Cambia el cursor al pasar el mouse */
  transition: background-color 0.3s ease; /* Suaviza el cambio de color de fondo */
}

.nav-link:hover {
  color: #00d9ff; /* Color del texto */
}

.nav-link:active {
  background-color: #ccc; /* Color de fondo al hacer clic */
}

.nav-link:focus {
  outline: none; /* Elimina el borde de enfoque predeterminado */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Agrega una sombra al enfocar */
}





/* Responsive adjustments */
@media (max-width: 768px) {
  .hamburger-menu {
    display: block;
    background: none;
    border: none;
    font-size: 2em;
    cursor: pointer;
  }

  .nav {
    display: none;
  }

  .nav.open {
    display: block;
  }


  
}

@media (min-width: 769px) {
  .hamburger-menu {
    display: none;
  }

  .nav {
    display: block;
  }
}
