 /* src/Components/LugarDetail.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.tags {
  margin-top: 10px;
  margin-bottom: 10px;
}

.tag {
  display: inline-block;
  background-color: #cacaca; /* Color de fondo de la etiqueta */
  color: #000000;
  padding: 5px 10px;
  margin-right: 5px;
  border-radius: 3px;
  font-size: 0.9em;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro con transparencia */
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Animación para el contenedor de la información */
@keyframes fadeInScale {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.info-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5%;
  padding: 20px;
  z-index: 1000;
  width: auto;
  max-width: 500px; /* Se reduce el ancho máximo del contenedor */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Roboto', sans-serif;

  /* Aplicar animación */
  animation: fadeInScale 0.5s ease-in-out;
}
.info-box .description {
  word-wrap: break-word;
  max-width: 100%; /* Limita el ancho de la descripción al ancho del contenedor */
  margin-bottom: 10px;
}


.info-box h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.info-box .rating {
  margin-bottom: 10px;
}

.info-box .description .ubicacion {
  margin-bottom: 10px;
}

.info-box .comments {
  margin-top: 10px;
}

.info-box .close-btn {
  display: block;
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.info-box .close-btn:hover {
  background-color: #0056b3;
}

.rating {
  font-size: 24px; /* Tamaño de las estrellas */
}

.star {
  color: #ccc; /* Color de las estrellas vacías */
}

.filled {
  color: gold; /* Color de las estrellas llenas */
}

.comment-list {
  list-style: none;
  padding: 0;
}

.comment {
  background-color: #f2f2f2;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
}

/* Estilos responsivos */
@media (max-width: 600px) {
  .info-box {
    width: 90%;
    max-width: 90%;
    padding: 10px;
    border-radius: 10px;
  }

  .info-box h1 {
    font-size: 1.5rem;
  }

  .info-box .close-btn {
    padding: 6px 12px;
  }

  .rating {
    font-size: 20px; /* Tamaño de las estrellas */
  }

  .nav-list {
    display: block; /* Hace que las etiquetas se muestren como bloques */
    margin: 5px auto; /* Centra las etiquetas y añade margen automático */
    font-size: 0.8em; /* Reduce el tamaño de fuente en pantallas pequeñas */
    text-align: center;
  }

}