 /* src/Components/IMap.css */

 .zoom_outer {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  overflow: hidden;
}

#zoom {
    width: 100%;
    height: 0;/* Corrije puntos */
    transform-origin: 0px 0px;
    transform: scale(5) translate(0px, 0px);
    cursor: grab;
    padding-bottom: 56.25%; /* 16:9 Aspect Ratio  Corrije puntos*/
  }

  div#zoom > img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }

  .point {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .point:hover {
    transform: scale(1.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  

  

  
 