#zoom {
    width: 100%;
    height: 100%;
    transform-origin: 0px 0px;
    transform: scale(1) translate(0px, 0px);
    cursor: grab;
    
  }
  div#zoom > img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
  
  .zoom_outer {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
  }
  
  .point {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    cursor: pointer;
  }